<app-header></app-header>
<div class="container">
    <div class="texto">
        <p>We are Santiago, Blas and Ignacio, 3 students from the Programming degree.</p>
        <p> <span>Together we have created this application as our final project</span></p>
    </div>
    <div class="cartas row row-cols-1 row-cols-md-3 g-4">
       
        <div class="col">
          <div class="card">
            <img src="assets\images\landing\santi.png" class="card-img-top" alt="...">
            <div class="parteTexto card-body">
              <h2 class="card-title">Santiago Rubini</h2>
              <p>A 20-year-old student currently pursuing a degree in programming, with a strong commitment to developing technical skills and acquiring specialized knowledge in the field of computer science.</p>    
            </div>
            <div class="link">
                <a href="https://www.linkedin.com/in/santiago-rubini-3067a5248" target="_blank">Linkedin</a>
              </div>
          </div>
          
        </div>


        <div class="col">
          <div class="card">
            <img src="assets\images\landing\blass.png " class="card-img-top" alt="...">
            <div class="parteTexto card-body">
              <h2 class="card-title">Blas Machado</h2>
            <p>I'm a 24 years old developer who's currently learning, in search of personal development by having the objective of training, creating and expanding my knowledge.</p>    
            </div>
            <div class="link">
                <a href="https://www.linkedin.com/in/blasms/"  target="_blank">Linkedin</a>
              </div>
          </div>
        </div>


        <div class="col">
          <div class="card">
            <img src="assets\images\landing\nacho.png" class="card-img-top" alt="...">
            <div class="parteTexto card-body">
              <h2 class="card-title">Ignacio Reyna</h2>
              <p>20-year-old programming student, eager to have his first computer experience, to grow professionally and continue learning.</p>    
            </div>
            <div class="link">
                <a href="https://www.linkedin.com/in/ignacio-nicolas-reyna-349834248/" target="_blank">Linkedin</a>
              </div>
          </div>
        </div>
      </div>
</div>
