<header>
    <div class="logo">
     <img src="assets/images/landing/icono.png" alt="">
     <div class="titulito">
      <h2>GYMAPI</h2>
     </div>
     
    </div>
    <nav>
      <ul class="navegador">
      <li><a href="http://localhost:4200/home">Home</a></li>
      <li><a href="http://localhost:4200/aboutus">About us</a></li>
      </ul>
    </nav>
    <div class="button" *ngIf="!result">
    <button class="btn-23" (click)="login()">
      <span class="text">START</span>
      <span aria-hidden="" class="marquee">START</span>
    </button>
  </div>
  <div class="button" *ngIf="result">
    <button class="btn-23" (click)="logOut()">
      <span class="text">Log Out</span>
      <span aria-hidden="" class="marquee">LOg Out</span>
    </button>
  </div>
  </header>