<div class="landing-page">
    <div class="landing-header">
        <h1>Bienvenido a UNT-TECH</h1>
        <p>Tu destino para la última tecnología a precios increíbles.</p>
        <button (click)="login()">Iniciar Sesión</button>
    </div>
  
    <div class="landing-main">
        <section>
            <h2>Nuestros Productos Destacados</h2>
            <div class="product">
                <img src="assets/images/smartphone.jpg" alt="Producto 1">
                <h3>Smartphone de Última Generación</h3>
                <p>Descubre la potencia y la innovación en tus manos. ¡No te quedes atrás en tecnología!</p>
            </div>
            <div class="product">
                <img src="assets/images/laptop.jpg" alt="Producto 2">
                <h3>Computadora Portátil Ultraligera</h3>
                <p>Trabaja y juega en cualquier lugar con nuestra computadora ultraportátil.</p>
            </div>
            <!-- Agrega más productos destacados aquí -->
        </section>
    </div>
  
    <div class="landing-footer">
        <p>&copy; 2023 UNT-TECH. Todos los derechos reservados.</p>
    </div>
  </div>
  