main{
  background-image: url(src\assets\images\landing\fondo2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  background-position: center top;
  height: auto;
}

.textoYboton{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10rem;
  padding-right: 10rem;
  color: white;
  font-size: 50px;
}
.texto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto span{
  font-weight: bold;
}

.texto button{
  border: none;
  width: 10px;
  height: 10px;
}

.tarjetitas{

  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 100%;
  justify-content: space-around;

}

.tarjeta{
  display: flex;
  padding-left: 1rem;
  width: 270px;
  height: 130px;
  background-color: white;
  border-radius: 2rem;
  margin-top: 1rem;
}

.loguito{
  display: flex;
  justify-content: center;
  background-color: #EB5506;
  margin-top: 1.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  
}

.loguito i{

 
  color: white;/* Ancho del icono al 80% del contenedor */
  display: flex; /* Permite que el contenido se expanda horizontalmente */
  justify-content: center; /* Alinea horizontalmente el contenido en el centro */
  align-items: center;
  font-size: 2rem;
}



.textoTarjeta{

  display: flex;
  flex-direction: column;
  margin-left: 1rem ;
  margin-top: 0.3rem;
  
}
.textoTarjeta h2{

  
  font-weight: bold;
}


.tarjeta{
  transition: transform 0.3s; 
}

.tarjeta:hover{
  transform: scale(1.2);
}

.imagenGordiFlaco{
  display:flex;
  margin-top: 2rem;
}

.imagenGordiFlaco img{
  width: 20%;
  height: auto;
}


