<app-header></app-header>
  <main>
  
  <div class="textoYboton">
      <div class="texto">
      <p>Be ready to</p>
      <p><span>Break your limits</span></p>
      </div>
  </div>

  <div class="tarjetitas">
   
      <div class="tarjeta">
          <div class="loguito">
              <i class="fa-solid fa-heart"></i>
          </div>
          <div class="textoTarjeta">
              <h2>HEALTH</h2>
              <p>Your Wellness, Our Priority.</p>

          </div>
       <div>
        
       </div>
       <div>

       </div>
      </div>
   
      <div class="tarjeta">
          <div class="loguito">
              <i class="fa-solid fa-fire-flame-curved"></i>
          </div>
          <div class="textoTarjeta">
              <h2>CARDIO</h2>
              <p>Burn calories and tone</p>

          </div>
      </div>

      <div class="tarjeta">
          <div class="loguito">
              <i class="fa-solid fa-dumbbell"></i>
          </div>
          <div class="textoTarjeta">
              <h2>LIFTING</h2>
              <p>Build strength, gain muscle.</p>

          </div>
      </div>
  </div>

  </main>