<app-header></app-header>
<div class="contenedorGigante">
  <div class="ejercicios">
    
      <div
        *ngFor="let exerciseInfo of exerciseInfoArray"
        class="ejercicio">
        <div class="titulo">
          <h2>{{ exerciseInfo.name }}</h2>
        </div>

        <div class="descripcion">
          <p>{{ exerciseInfo.description }}</p>
        </div>

        <div class="imagencita">
          <div *ngIf="exerciseInfo.image">
            <img
              [src]="exerciseInfo.image"
              alt="Exercise Image"
              class="exercise-image"
            />
          </div>
        </div>

        <div class="links">
          <p *ngIf="exerciseInfo.video !== 'Video not available'">
            <a [href]="exerciseInfo.video" target="_blank" class="video-link"
              >Watch Video</a
            >
          </p>
          <p *ngIf="exerciseInfo.video === 'Video not available'">
            <a class="video-link not-available" style="color: grey;">Not Available</a>
          </p>
        </div>
      </div>
  </div>
</div>
