.category-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .category-button {
    font-size: 1.5em;
    background-color: #FFA500; 
    color: #FFFFFF; 
    border: none;
    border-radius: 10px;
    padding: 15px 20px; 
    margin: 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category-button:hover {
    background-color: #FF8C00; 
  }

  app-home-page{
    visibility: hidden;
  }